{% extends "base.html" %}

{% block title %}
History
{% endblock %}


{% block content %}

<section class="head">

    <h1>
        Your Recommendation History
    </h1>

</section>


<section class="section">

    {% if history %}

        <div class="history">

            {% for recommendation in history %}

                <a
                    href="/recommendation/{{ recommendation['id'] }}"
                >

                    <b>
                        {{ recommendation["title"] }}
                    </b>

                    <small>
                        {{
                            recommendation["created_at"]
                            [:19]
                            .replace("T", " ")
                        }}
                    </small>

                </a>

            {% endfor %}

        </div>

    {% else %}

        <p class="empty">
            No saved recommendations yet.
        </p>

    {% endif %}

</section>

{% endblock %}